    </body>
    <footer class="text-center">
        <hr>
        <p>2020&copy;Hsu</p>
        <p>
            The information from this website is taken from: <a id = "link" href ="https://www.geeksforgeeks.org/">GeeksForGeeks</a>, 
            <a id = "link"href = "https://www.cs.cmu.edu/~adamchik/15-121/lectures/Linked%20Lists/linked%20lists.html">Carnegie Mellon University</a>,
            <a id = "link"href = "https://news.codecademy.com/why-data-structures/">Code Academy</a>, 
            <a id = "link"href = "https://codelani.com/posts/how-many-programming-languages-are-there-in-the-world.html">CodeLani</a>, and
            <a id = "link"href = "https://www.w3schools.com/java/java_arrays.asp">W3Schools</a>.
        </p>
    </footer>
</html>